[Unit]
Description=helphik daemon
Requires=helphik.socket
After=network.target

[Service]
User=bpro
Group=www-data
WorkingDirectory=/var/www/helphik
ExecStart=gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/helphik.sock \
          config.wsgi:application
